Nano Banana/Form input - Nano Banana -.json
{
  "name": "Form input - Nano Banana -",
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome do produto\"] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"On form submission\"].json[\"Diretório dos anúncios\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        208
      ],
      "id": "235cfa0e-ef0b-4223-8499-07c281412d43",
      "name": "cria diretorio do projeto",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44e85c42-7ee4-4f63-871b-5682a45d6d64",
              "name": "diretorio_id_do_projeto",
              "value": "={{ $item(\"0\").$node[\"cria diretorio do projeto\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        208
      ],
      "id": "09ca4427-150d-4cf8-b85d-52b47ee61a30",
      "name": "DIRETORIO",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Imagem_do_produto",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "f0bdbc1c-90a7-41df-9d51-2ccbb7fc0686",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=mimeType = 'image/jpeg' and '{{ $item(\"0\").$node[\"On form submission\"].json[\"Diretório de modelos\"] }}' in parents and trashed = false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        224
      ],
      "id": "55f22b44-d977-425c-a6a2-41d59ef9636f",
      "name": "Busca os modelos no drive",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        464
      ],
      "id": "a3759392-ac69-4f17-8c4c-deae19a4521a",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=image_64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        208
      ],
      "id": "387ac12d-7904-4f74-b1fc-245ad123b088",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome do produto\"] }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"On form submission\"].json[\"Diretório dos produtos\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        208
      ],
      "id": "1fb5dfbd-150f-4c9b-bef4-adc1da969ce0",
      "name": "upload da imagem",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        208
      ],
      "id": "e75ad0f5-b2c8-420f-b055-8e6fe8336cda",
      "name": "muda_permissao",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35063fac-0e1b-46fc-bf0b-ec16660d510e",
              "name": "image_64",
              "value": "={{ $node[\"Extract from File\"].json.data || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        208
      ],
      "id": "156121bd-5258-47a2-8875-b91abe59615c",
      "name": "produto_b64",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "974c6cda-85da-4017-ac02-d776e4f3663e",
              "name": "imagem_link",
              "value": "=https://drive.google.com/uc?export=view&id={{ $item(\"0\").$node[\"upload da imagem\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        208
      ],
      "id": "a73de27a-6707-4079-9ed1-798bb99391e3",
      "name": "LINK_PRODUTO",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a2fe064-a73c-47e4-ab86-ff39e3f44650",
              "name": "link_modelo",
              "value": "=https://drive.google.com/uc?export=view&id={{ $('Loop Over Items').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        528
      ],
      "id": "c9912576-659b-4146-b37d-099a5788b6c0",
      "name": "LINK_MODELO",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Create a casual photo in which the person from Image 2 naturally holds the {{ $item(\"0\").$node[\"On form submission\"].json[\"Nome do produto\"] }} from Image 1. The scene takes place in an {{ $item(\"0\").$node[\"On form submission\"].json[\"Ambiente do modelo\"] }}, and the person smiles warmly while looking at the camera. It should feel like a spontaneous snapshot taken by a friend, not a professional photo. Return only the final image. Frame it slightly from the side and subtly vary the angle.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": { \"url\": \"{{ $('LINK_PRODUTO').item.json.imagem_link }}\" }\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": { \"url\": \"{{ $json.link_modelo }}\" }\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        592
      ],
      "id": "0ad4328d-46dc-457d-816f-3ae8dbe286ed",
      "name": "BANANA",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f5fa2f3-1c92-483a-9f63-710341cabb59",
              "name": "base",
              "value": "={{ ($json.choices[0].message.images[0].image_url.url || '').split(',')[1] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        608
      ],
      "id": "5327e347-3719-45ff-abef-7fa381561782",
      "name": "base_64",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        624
      ],
      "id": "00de4205-aefb-4b7a-ad1d-e6e65d092085",
      "name": "converte para imagem",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $item(\"0\").$node[\"NOME_MODELO\"].json[\"nome_modelo\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETORIO\"].json[\"diretorio_id_do_projeto\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        720
      ],
      "id": "232b20cf-8156-4d50-bdbf-97a62b003f01",
      "name": "Google Drive",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        768
      ],
      "id": "567a95b2-433f-4291-ac6c-738632398119",
      "name": "Wait",
      "webhookId": "64ece23a-c22c-497e-adaf-1a79594993c2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a2fe064-a73c-47e4-ab86-ff39e3f44650",
              "name": "nome_modelo",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        480
      ],
      "id": "90af91f6-7d65-4915-96a3-3a4f73e6224e",
      "name": "NOME_MODELO",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌",
        "height": 80,
        "width": 1900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6eeff168-4976-4a87-911d-ead548f45904",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🍌 Openrouter",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        512
      ],
      "typeVersion": 1,
      "id": "7cb8b7a7-f190-40e8-a3e8-00c4b5802fed",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "SUA_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"Create a picture of a nano banana dish in a fancy restaurant with a Gemini theme.Formato de desenho animado da disney\" }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        2800
      ],
      "id": "c8f17a18-4981-4316-b062-c1a977066526",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f5fa2f3-1c92-483a-9f63-710341cabb59",
              "name": "base",
              "value": "={{ $json.candidates[0].content.parts[1].inlineData.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        2800
      ],
      "id": "520dd7db-ef10-46d7-8ba5-89a5a990bebb",
      "name": "base_"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        2800
      ],
      "id": "edeea338-0862-423c-a3d2-7c26f0c83f44",
      "name": "converte para imagem1"
    },
    {
      "parameters": {
        "formTitle": "GERA ADs",
        "formDescription": "Selecione a imagem do seu produto e indique o ID do diretório com os modelos.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Diretório principal",
              "placeholder": "Digite o nome do diretório principal",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório de modelos",
              "placeholder": "Digite o ID do diretório no GDrive",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório dos produtos",
              "placeholder": "Digite o ID do diretório para salvar as imagens dos produtos",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório dos anúncios",
              "placeholder": "ID do diretório que será criada as imagens",
              "requiredField": true
            },
            {
              "fieldLabel": "Nome do produto",
              "placeholder": "Digite o ID do diretório no GDrive",
              "requiredField": true
            },
            {
              "fieldLabel": "Ambiente do modelo",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Restaurante"
                  },
                  {
                    "option": "Lanchonete"
                  },
                  {
                    "option": "Igreja"
                  },
                  {
                    "option": "Praia"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Imagem do produto",
              "fieldType": "file",
              "acceptFileTypes": "jpg,png,jpeg",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ],
      "id": "8dc29c4d-a54f-4039-aa31-2a50c5b1efc6",
      "name": "On form submission",
      "webhookId": "bbd3003d-0d0f-43e1-8e49-b440baede765",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Gera só imagem com 🍌",
        "height": 240,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        2720
      ],
      "typeVersion": 1,
      "id": "cab30f51-9d35-4679-b80b-89afa08e6a53",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCqWscPnS_az5_TrX8JBts9Ba_4RIII6Gc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemini-2.5-flash-image-preview\",\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Create a casual photo of a couple standing inside of apartment from Image 1. They should be smiling naturally at the camera, as if a friend took the picture spontaneously, not a professional photographer. The atmosphere should feel warm and authentic, capturing the joy of the moment. Frame the Apartment clearly in the background, slightly varying the angle to make the shot look candid, but keep the couple fully visible in the foreground. Return only the final image.\"\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"data\": \"{{ $item(\"0\").$node[\"produto_base64\"].json[\"data\"] }}\"\n          }\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"data\": \"{{ $item(\"0\").$node[\"modelo_base64\"].json[\"data\"] }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        2368
      ],
      "id": "8b21f14a-0310-4f54-ac1d-7dc4a91826cd",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f5fa2f3-1c92-483a-9f63-710341cabb59",
              "name": "base",
              "value": "={{ $json.candidates[0].content.parts[0].inlineData.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        2368
      ],
      "id": "a5f46af3-7324-4889-b749-c1eb895d0249",
      "name": "base_1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1680,
        2368
      ],
      "id": "03c55895-3f9d-4329-b57a-c91c699003e4",
      "name": "converte para imagem2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1nPTw2oJqcUpHWfH5ZpLvsUjv4mwueIsZ/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        2368
      ],
      "id": "e6ef2c96-8e37-410b-adce-d77c91ae1101",
      "name": "Download produto",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        2368
      ],
      "id": "399513ab-a04c-4731-88e8-563552595310",
      "name": "produto_base64",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1zMvkRkulnaA9q-OpFmGd9rwwkrhBhno6/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        2368
      ],
      "id": "07b9ed32-c708-4590-b170-ab922abc5c0c",
      "name": "Download modelo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1040,
        2368
      ],
      "id": "124d4962-9fc5-4516-996e-6af83786b2b5",
      "name": "modelo_base64",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌",
        "height": 80,
        "width": 1900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1104
      ],
      "typeVersion": 1,
      "id": "ea4e17bd-1b1b-4e25-ac59-daac60479c60",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌",
        "height": 80,
        "width": 1900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2208
      ],
      "typeVersion": 1,
      "id": "c8766b0a-40fc-49c1-b55e-070c8a666717",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $item(\"0\").$node[\"On form submission1\"].json[\"Nome do produto\"] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"On form submission1\"].json[\"Diretório dos anúncios\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        1312
      ],
      "id": "13cae898-2a2b-42dc-86dc-13a33a7330cd",
      "name": "cria diretorio do projeto1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44e85c42-7ee4-4f63-871b-5682a45d6d64",
              "name": "diretorio_id_do_projeto",
              "value": "={{ $item(\"0\").$node[\"cria diretorio do projeto1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        1312
      ],
      "id": "4731da01-4d4b-4e50-a1f0-fd776b2e8a9f",
      "name": "DIRETORIO1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Imagem_do_produto",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        1312
      ],
      "id": "9d60793c-3850-4120-ba7f-0ecc7568c905",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $item(\"0\").$node[\"On form submission1\"].json[\"Diretório de modelos\"] }}' in parents and trashed = false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        1328
      ],
      "id": "26b1b11f-60c8-404a-8532-249e1f8164b3",
      "name": "Busca os modelos no drive1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        1568
      ],
      "id": "553b8d42-3e9e-49f2-87c6-66137f8cb8a2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=image_64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        1312
      ],
      "id": "3cc085f0-2610-40bd-8a03-bec731f87362",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $item(\"0\").$node[\"On form submission1\"].json[\"Nome do produto\"] }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"On form submission1\"].json[\"Diretório dos produtos\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        1312
      ],
      "id": "045f0a27-32fa-484b-934c-ac8136681735",
      "name": "upload da imagem1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        1312
      ],
      "id": "d2320c17-aed1-45e3-98a7-1a6a4d20a167",
      "name": "muda_permissao1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35063fac-0e1b-46fc-bf0b-ec16660d510e",
              "name": "image_64",
              "value": "={{ $node[\"Extract from File1\"].json.data || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1312
      ],
      "id": "a51ab63f-81f4-474c-9297-c24b243223da",
      "name": "produto_b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "974c6cda-85da-4017-ac02-d776e4f3663e",
              "name": "imagem_link",
              "value": "=https://drive.google.com/uc?export=view&id={{ $item(\"0\").$node[\"upload da imagem1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        1312
      ],
      "id": "aac9bb56-5a30-486f-99f9-0953fa58ffd5",
      "name": "LINK_PRODUTO1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f5fa2f3-1c92-483a-9f63-710341cabb59",
              "name": "base",
              "value": "={{ $json.candidates[0].content.parts.last().inlineData.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        1728
      ],
      "id": "6ab222ae-5e0e-425d-89b4-cd014e83e052",
      "name": "base_65"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        1760
      ],
      "id": "8f889ddc-0df2-4ef7-8025-58a0284233d2",
      "name": "converte para imagem3"
    },
    {
      "parameters": {
        "name": "={{ $item(\"0\").$node[\"NOME_MODELO1\"].json[\"nome_modelo\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"DIRETORIO1\"].json[\"diretorio_id_do_projeto\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        1840
      ],
      "id": "22fab657-d985-4d91-9b01-dc06491da2cf",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        1888
      ],
      "id": "f68fa526-6932-45d9-b760-c6ee2a143cf8",
      "name": "Wait1",
      "webhookId": "091673bf-97be-46cf-829f-317ba65e4572"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a2fe064-a73c-47e4-ab86-ff39e3f44650",
              "name": "nome_modelo",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1584
      ],
      "id": "bcc3c41a-0b55-4d76-a069-4785d40e2862",
      "name": "NOME_MODELO1"
    },
    {
      "parameters": {
        "content": "## 🍌 Gemini",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1632
      ],
      "typeVersion": 1,
      "id": "e1ab09f3-bfdb-41d9-a2ef-e465d931136b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "formTitle": "GERA ADs",
        "formDescription": "Selecione a imagem do seu produto e indique o ID do diretório com os modelos.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Diretório principal",
              "placeholder": "Digite o nome do diretório principal",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório de modelos",
              "placeholder": "Digite o ID do diretório no GDrive",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório dos produtos",
              "placeholder": "Digite o ID do diretório para salvar as imagens dos produtos",
              "requiredField": true
            },
            {
              "fieldLabel": "Diretório dos anúncios",
              "placeholder": "ID do diretório que será criada as imagens",
              "requiredField": true
            },
            {
              "fieldLabel": "Nome do produto",
              "placeholder": "Digite o ID do diretório no GDrive",
              "requiredField": true
            },
            {
              "fieldLabel": "Ambiente do modelo",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Restaurante"
                  },
                  {
                    "option": "Lanchonete"
                  },
                  {
                    "option": "Igreja"
                  },
                  {
                    "option": "Praia"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Imagem do produto",
              "fieldType": "file",
              "acceptFileTypes": "jpg,png,jpeg",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        1312
      ],
      "id": "5085d09c-dda1-479b-9357-bef4425c8e48",
      "name": "On form submission1",
      "webhookId": "56a79ffd-ab68-4729-829f-58182c99abe0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCqWscPnS_az5_TrX8JBts9Ba_4RIII6Gc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-2.5-flash\",\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Create a casual photo in which the person from Image 2 naturally holds the {{ $item(\"0\").$node[\"On form submission1\"].json[\"Nome do produto\"] }} from Image 1. The scene takes place in {{ $item(\"0\").$node[\"On form submission1\"].json[\"Ambiente do modelo\"] }}, and the person smiles warmly while looking at the camera. It should feel like a spontaneous snapshot taken by a friend, not a professional photo. Return only the final image. Frame it slightly from the side and subtly vary the angle.\"\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"data\": \"{{ $item(\"0\").$node[\"Extract from File1\"].json[\"data\"] }}\"\n          }\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"data\": \"{{ $item(\"0\").$node[\"modelo_base\"].json[\"data\"] }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1712
      ],
      "id": "455f3fe6-10db-4042-ad21-0ea362871725",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        1600
      ],
      "id": "0755a32c-cea4-42fb-97c7-de8a26d4970b",
      "name": "Download modelo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgDhuI94CoxyGlHp",
          "name": "Alex Marra Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        752,
        1664
      ],
      "id": "3242de1c-34f2-4210-a599-11422b8df110",
      "name": "modelo_base",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        144,
        2368
      ],
      "id": "4c6cdfd0-7d5f-408e-8cf3-da34c6c20e64",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "cria diretorio do projeto": {
      "main": [
        [
          {
            "node": "DIRETORIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIRETORIO": {
      "main": [
        [
          {
            "node": "Busca os modelos no drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "produto_b64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os modelos no drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "NOME_MODELO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "upload da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "muda_permissao": {
      "main": [
        [
          {
            "node": "LINK_PRODUTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload da imagem": {
      "main": [
        [
          {
            "node": "muda_permissao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produto_b64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINK_PRODUTO": {
      "main": [
        [
          {
            "node": "cria diretorio do projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINK_MODELO": {
      "main": [
        [
          {
            "node": "BANANA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BANANA": {
      "main": [
        [
          {
            "node": "base_64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_64": {
      "main": [
        [
          {
            "node": "converte para imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converte para imagem": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOME_MODELO": {
      "main": [
        [
          {
            "node": "LINK_MODELO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "base_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_": {
      "main": [
        [
          {
            "node": "converte para imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "base_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_1": {
      "main": [
        [
          {
            "node": "converte para imagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download produto": {
      "main": [
        [
          {
            "node": "produto_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produto_base64": {
      "main": [
        [
          {
            "node": "Download modelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download modelo": {
      "main": [
        [
          {
            "node": "modelo_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelo_base64": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria diretorio do projeto1": {
      "main": [
        [
          {
            "node": "DIRETORIO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIRETORIO1": {
      "main": [
        [
          {
            "node": "Busca os modelos no drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "produto_b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os modelos no drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "NOME_MODELO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "upload da imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload da imagem1": {
      "main": [
        [
          {
            "node": "muda_permissao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "muda_permissao1": {
      "main": [
        [
          {
            "node": "LINK_PRODUTO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produto_b": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINK_PRODUTO1": {
      "main": [
        [
          {
            "node": "cria diretorio do projeto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_65": {
      "main": [
        [
          {
            "node": "converte para imagem3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converte para imagem3": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOME_MODELO1": {
      "main": [
        [
          {
            "node": "Download modelo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "base_65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelo_base": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download modelo1": {
      "main": [
        [
          {
            "node": "modelo_base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8699dc28-c97c-45d2-a91b-ed87ad98eda2",
  "meta": {
    "instanceId": "3e34dc8b5ef8facf2b5e7a040f8131bb130efca1e644ecdadc706540f26c6b84"
  },
  "id": "hVInMvQmWy7j7ac7",
  "tags": []
}