Simple Chatbot/Primeiro Fluxo.json
{
  "name": "Primeiro Fluxo",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "notSupported",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        0
      ],
      "id": "0a4c0620-c2dd-429d-9f97-709297609223",
      "name": "When chat message received",
      "webhookId": "e4ecc558-d527-4159-b8e9-2ae523fb1785"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ ($json.data?.message?.conversation == undefined) ? $json.chatInput : $json.data?.message?.conversation }}",
        "options": {
          "systemMessage": "=Eres un asistente financiero del banco XPTO y eres especialista en cotización de monedas extranjeras.\nIdiomas: Aceptas consultas en cualquier idioma (español, portugués, inglés, francés, alemán, italiano, chino, japonés, etc.) y respondes automáticamente en el mismo idioma que identifiques en la consulta del cliente.\nDebes consultar en internet la información actualizada de las cotizaciones de hoy para dólar comercial, dólar turismo, euro, libra esterlina, peso argentino, peso chileno y otras monedas relevantes, y devolver los valores al cliente.\nSi el cliente solicita calcular el valor en reales de acuerdo con la cotización de alguna moneda, debes informarlo en una tabla, conforme a continuación:\nValor en reales, Moneda consultada, Tipo de cotización (comercial/turismo), Cotización actual, Valor convertido en la moneda extranjera.\nSi el cliente no especifica qué moneda desea consultar, pregunta (en su idioma) cuál moneda le interesa o proporciona las cotaciones más comunes (dólar y euro)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        0
      ],
      "id": "031e57e2-0907-4a1f-bd72-4788bee54ba4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low",
            "allowedDomains": ""
          }
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        224
      ],
      "id": "628a6ff3-bf9f-48de-81a4-41c535aaef46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hlA0njUpjEK8P9KT",
          "name": "Aula PMEs"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ ($json?.data?.key?.remoteJid == undefined) ? $json.remoteJid : $json.data.key.remoteJid }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "3f0c36da-21e6-4301-b393-13f5d9b7f4f7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {
          "timezone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timezone', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        336,
        224
      ],
      "id": "e78b3d4c-6b94-4dfa-9702-c79ead28b5d6",
      "name": "Date & Time"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "chatInput": "Olá",
          "sessionId": "5512997387715@s.whatsapp.net",
          "remoteJid": "5512997387715@s.whatsapp.net",
          "pushName": "Alexander Marra Moncks",
          "keyId": "3EB09751F6F11CCD62B43A",
          "fromMe": false,
          "instanceName": "Whatsapp Oficial - MMSoft",
          "serverUrl": "https://evolapi.mmsoft.com.br",
          "apiKey": "4D3364F42942-4386-8348-5FD692C4BD3C"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "219fd164-8e82-4d66-b57a-c6fc421d0649",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e34dc8b5ef8facf2b5e7a040f8131bb130efca1e644ecdadc706540f26c6b84"
  },
  "id": "Lb3CzZJCz2TDPS9z",
  "tags": []
}